<h1>Edit Census Village: <%= @census_village.name %> </h1>

<%= form_with(model: @census_village, local: true) do |form| %>
  <% if @census_village.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@census_village.errors.count, "error") %> prohibited this census village from being saved:</h2>

      <ul>
        <% @census_village.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, :class => 'form-label' %>
    <%= form.text_field :name, :class => 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :subdivision, :class => 'form-label' %>
    <%= form.text_field :subdivision, :class => 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :district, :class => 'form-label' %>
    <%= form.text_field :district, :class => 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label "Census Code", :class => 'form-label' %>
    <%= form.text_field :code, :class => 'form-control' %>
  </div>


  <div class="actions">
    <%= form.submit 'Save', :class => 'btn btn-primary' %>
    <%= link_to 'Back', census_villages_path, :class => 'btn btn-outline-primary' %>
  </div>
<% end %>

