
<h1>Details of Census Village <%= @census_village.name %></h1>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @census_village.name %></dd>
  <dt>Sub Division</dt>
  <dd><%= @census_village.subdivision %></dd>
  <dt>District</dt>
  <dd><%= @census_village.district %></dd>
  <dt>Code</dt>
  <dd><%= @census_village.code %></dd>
  <%= link_to 'Edit', edit_census_village_path(@census_village), :class => 'btn btn-outline-primary' %>
</dl>

<h4>Villages mapped</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>    
            <th scope="col">Order</th> 
        </tr>
    </thead>
    <tbody>
    <% @census_village.villages.each do |village| %>
      <tr>
          <td><%= village.name %></td>
          <td><%= village.order.name %></td>
      </tr>
    <% end %>
    </tbody>
</table>

