<h1>Duplicates for <%= @village.name %></h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Village</th>
            <th scope="col">Sub Division</th>
            <th scope="col">District</th>
            <th scope="col">Order</th>
        </tr>
    </thead>
    <tbody>
    <% @duplicates.each do |duplicate| %>
      <tr>
          <td><%= link_to duplicate.duplicate_village.name, [@village, duplicate] %></td>
          <td><%= duplicate.duplicate_village.subdivision %></td>
          <td><%= duplicate.duplicate_village.district %></td>
          <td><%= duplicate.duplicate_village.order.name %></td>
      </tr>
    <% end %>
    </tbody>
</table>
<%= link_to 'Add', new_village_duplicate_path(@village, @duplicate), :class => 'btn btn-primary' %> 
<%= link_to 'Back to Village', village_path(@village), :class => 'btn btn-outline-primary' %>
