<h1>Duplicates for <%= @village.name %></h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Order Details</th>
            <th scope="col">Date of Order</th>
            <th scope="col">Number of Villages in Order</th>
        </tr>
    </thead>
    <tbody>
    <% @duplicates.each do |duplicate| %>
      <tr>
          <td><%= link_to "Duplicate Village ID: #{duplicate.duplicate_village_id}", [@village, duplicate] %> - Type: <%= duplicate.duplicate_type %></td>
      </tr>
    <% end %>
    </tbody>
</table>
<%= link_to 'Add', new_village_duplicate_path(@village, @duplicate), :class => 'btn btn-primary' %> 
<%= link_to 'Back to Village', village_path(@village), :class => 'btn btn-outline-primary' %>
