<h1>Orders</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>    
            <th scope="col">Order Details</th>
            <th scope="col">Date of Order</th>
            <th scope="col">Number of Villages in Order</th>
        </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
      <tr>
          <td><%= order.id %></td>
          <td><%= link_to order.name, order_path(order) %></td>
          <td><%= order.date %></td>
          <td><%= order.villages.count %></td>
      </tr>
    <% end %>
    </tbody>
</table>

<%= paginate @orders %>

<%= link_to 'Add New Order', new_order_path, :class => 'btn btn-primary' %>

<%= form_with url: compare_orders_path, local: true do |form| %>
    <div class="mb-3">
      <%= form.label :order1, :class => 'form-label' %>
      <%= form.collection_select :order1_id, @orders_all, :id, :name, include_blank: true %>
    </div>
    <div class="mb-3">
      <%= form.label :order2, :class => 'form-label' %>
      <%= form.collection_select :order2_id, @orders_all, :id, :name, include_blank: true %>
    </div>
    <div class="actions">
      <%= form.submit "Compare", :class => 'btn btn-primary'  %>
    </div>
<% end %>


<%= form_with url: report_orders_path, local: true do |form| %>
    <div class="mb-3">
      <%= form.label :order1, :class => 'form-label' %>
      <%= form.collection_select :order1_id, @orders_all, :id, :name, include_blank: true %>
    </div>
    <div class="mb-3">
      <%= form.label :order2, :class => 'form-label' %>
      <%= form.collection_select :order2_id, @orders_all, :id, :name, include_blank: true %>
    </div>
    <div class="mb-3">
      <%= form.label :order3, :class => 'form-label' %>
      <%= form.collection_select :order3_id, @orders_all, :id, :name, include_blank: true %>
    </div>
    <div class="mb-3">
      <%= form.label :order4, :class => 'form-label' %>
      <%= form.collection_select :order4_id, @orders_all, :id, :name, include_blank: true %>
    </div>
    <div class="actions">
      <%= form.submit "Report", :class => 'btn btn-primary'  %>
    </div>
<% end %>
