<h1 class="navbar">Villages</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Village</th>
            <th scope="col">Sub Division</th>
            <th scope="col">District</th>
            <th scope="col"></th>
        </tr>
        <%= form_with url: villages_path, method: :get, local: true do |form| %>
        <tr>
            <th scope="col"><%= text_field_tag :name, params[:name], placeholder: "Filter by name" %></th>
            <th scope="col"><%= text_field_tag :subdivision, params[:subdivision], placeholder: "Filter by subdivision" %></th>
            <th scope="col"><%= text_field_tag :district, params[:district], placeholder: "Filter by district" %></th>
            <th scope="col"><%= submit_tag "Filter", :class => 'btn btn-primary' %></th> 
        </tr>
        <% end %>
    </thead>
    <tbody id="village-list">
  <% @villages.each do |village| %>
        <tr>
            <td><%= link_to village.name, village_path(village) %></td>
            <td><%= village.subdivision %></td>
            <td><%= village.district %></td>
            <td></td>
            
        </tr>
  <% end %>
    </tbody>
</table>

<%= paginate @villages %>

<%= form_with url: upload_villages_path, local: true, multipart: true do |form| %>
    <div class="mb-3">
      <%= form.label :file, :class => 'form-label' %>
      <%= form.file_field :file , :class => 'form-control'%>
    </div>
    <div class="actions">
      <%= form.submit "Upload" %>
    </div>
  <% end %>

<%= link_to 'Add New Village', new_village_path, :class => 'btn btn-primary' %>

